<md-content layout="column" flex layout-padding>
	<p>Are you a native speaker of English?</p>
	<md-radio-group ng-model="surveyCtrl.languageBackground">
		<md-radio-button class="md-primary" value="Yes">Yes</md-radio-button>
		<md-radio-button class="md-primary" value="No">No</md-radio-button>
		<md-radio-button class="md-primary" value="Decline">Decline to answer</md-radio-button>
	</md-radio-group>
	<div layout="row" layout-align="start center">
		<md-button class="md-raised md-primary md-hue-2" ng-click="surveyCtrl.next()" ng-disabled="surveyCtrl.languageBackground==null">Next</md-button>
	</div>
</md-content>
